<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <ul>

        
           <li><a class="link" href="{% url 'userprofile:profile-list' %}">User Profiles</a></li>
            <li><a href="{% url 'userprofile:create-profile' %}">AddProfile</a></li>
            <li><a href="{% url 'userprofile:create-user'%}">Add User</a></li>
            <li><a href="{% url 'userprofile:user-list'%}">List Users</a></li>
            <li><a href="{% url 'literature:public-literature-list-create' 'poem' %}">Poem</a></li>
            <li><a href="{% url 'literature:public-literature-list-create' 'chhanda' %}">Chhanda</a></li>
            <li><a href="{% url 'literature:public-literature-list-create' 'gajal' %}">गजल</a></li>
            <li><a href="{% url 'literature:public-literature-list-create' 'story' %}">कथा</a></li>
        </ul>
    </body>
</html>